<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New User Registration</title>
  </head>
  <body>
    <form class="" action="/users/<%= session[:user_id] %>/edit" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="patch">
      <label for="Email">Email</label>
      <input type="text" name="Email" value="<%= @user.email %>"><br>
      <label for="Name">Name</label>
      <input type="text" name="Name" value="<%= @user.name %>"><br>
      <label for="Password">Password</label>
      <input type="password" name="Password" value=""><br>
      <label for="Password Confirmation">Password Confirmation</label>
      <input type="password" name="Password Confirmation" value=""><br>
      <input type="submit" name="Update" value="Update">
    </form>
  </body>
</html>
