<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Session</title>
  </head>
  <body>
    <form class="" action="/sessions/new" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label for="email">Email</label>
      <input type="text" name="Email" value=""><br>
      <label for="password">Password</label>
      <input type="password" name="Password" value=""><br>
      <input type="submit" name="login" value="Log In">
    </form>
    <% if flash[:error] %>
    <%= flash[:error] %>
    <% end %>
  </body>
</html>
